<div class="slds-text-title--caps slds-m-bottom--small">Inline {{date | date:'longDate'}}</div>

<div class="sldl-grid slds-m-bottom--large">
    <button type="button" nglButton="neutral" (click)="gotoDate()">09 November 2005</button>
    <button type="button" nglButton="destructive" (click)="date = null">Clear</button>
</div>
<div class="sldl-grid slds-m-bottom--large">
    <button type="button" nglButton="neutral" (click)="firstDayOfWeek = 0">Week start Sunday</button>
    <button type="button" nglButton="neutral" (click)="firstDayOfWeek = 1">Week start Monday</button>
</div>

<ngl-datepicker [(date)]="date" [firstDayOfWeek]="firstDayOfWeek" class="slds-box slds-box--x-small"></ngl-datepicker>
