mixin lookup-list

  ul.slds-lookup__list(role="presentation")&attributes(attributes)
    li(*ngIf="noResults"): .slds-lookup__item_label {{noResultsText}}
    li(*ngFor="let item of suggestions; let i=index", (click)="handlePick(item)", [ngClass]="{'slds-dropdown__item_active': i === activeIndex }")
      a.slds-lookup__item-action([id]="optionId(i)", role="option")
        block
